/* ProfileComponent.css */

/* Ajoutez vos styles personnalisés ici */
.profile {
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: rgb(13, 115, 48);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgb(13, 115, 48);
  }
  
  .card-body {
    padding: 20px;
  }
  