.header-container .part1{
    background-color: #fff;
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .menu-transparent {
    background-color: rgba(13, 115, 48, .7);
    justify-content: center;
  }
  .logo{
    width: 200px;
  }

  .part1 a{
    color: #888;
  }
